.decor {
  position: absolute;
}

.decor--text {
  font-family: $font-stack-decor;
  font-size: 60px;
  font-weight: 500;
  line-height: normal;
  margin: 0;

  @media (min-width: $width-desktop) {
    font-size: 80px;
  }
}
