.footer {
  width: 100%;
  height: 54px;
  position: relative;
  z-index: 500;
  overflow-y: hidden;
  margin-top: -54px;
}

.footer__logo {
  display: block;
  width: 110px;
  height: 110px;
  margin-left: auto;
  margin-right: auto;
}
