.header {
  z-index: 500;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px 42px;
}

.header__logo {
  height: 25px;
  width: 23px;
}

.header__burger {
  background-color: transparent;
  border: 0;
  height: 14px;
  margin: 5px 0 0;
  padding: 0;
  width: 20px;
}
