.main {
  position: relative;
  z-index: 200;
}

.main__slogan {
  font-family: $font-stack-accent;
  font-size: 9px;
  line-height: normal;
  display: block;
  margin: 0;
  z-index: 700;
  position: absolute;
  top: 158px;
  left: -20px;
  opacity: 0.5;
  transform: rotate(-90deg);
}
