.slider {
  position: relative;
  z-index: 500;
}

.slider__slide-wrapper {
  height: 485px;
  position: relative;
  z-index: 500;
}

.slider__slide {
  display: block;
  position: absolute;

  &--first {
    bottom: 0;
    right: 0;
    z-index: 500;
  }

  &--second {
    left: 0;
    top: 0;
    z-index: 200;
  }
}

.slider__decor-black-alfa {
  right: 27px;
  top: 144px;
  z-index: 400;
}

.slider__decor-transparent-alfa {
  bottom: 27px;
  left: 44px;
  z-index: 600;
}

.slider__decor-A {
  top: 143px;
  left: 67px;
  z-index: 600;
};

.slider__decor-G {
  top: 126px;
  left: 148px;
  z-index: 400;
};

.slider__decor-E {
  top: 50px;
  right: 62px;
  z-index: 400;
};

.slider__button-wrapper {
  bottom: 137px;
  display: flex;
  justify-content: space-between;
  left: calc(50% - (100% - 40px) / 2);
  position: absolute;
  width: calc(100% - 40px);
  z-index: 700;
}

.slider__button {
  background-color: transparent;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='37'%3E%3Cpath fill-rule='evenodd' opacity='.4' d='M20.573 18.315L3.367 36.231l-2.795-2.93 14.473-15.07L.572 3.161 3.367.231l17.206 17.916-.08.084.08.084z'/%3E%3C/svg%3E");
  border: none;
  height: 36px;
  width: 20px;

  &:hover {
    cursor: pointer;
  }

  &:first-of-type {
    transform: rotate(180deg);
  }
}

.slider__plaque {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='105' height='105'%3E%3Cpath fill='%23f7e611' d='M0 105h105V0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 105px;
  width: 105px;
  position: absolute;
  z-index: 700;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 20px;
  padding-bottom: 20px;
}

.slider__plaque-text {
  margin: 0;
  font-family: $font-stack-decor;
  font-weight: 700;
  font-style: italic;
  font-size: 20px;
  line-height: normal;
}
