mixin header(className)
  header.header(class=className)
    nav.header__navigation
      svg.header__logo(xmlns='http://www.w3.org/2000/svg' width='23' height='25')
        path(fill-rule='evenodd' fill='#131212' d='M21.364 24.027h-1.232c-.617-.206-1.233-.411-1.644-.617-.616-.41-1.232-.821-1.643-1.437-.616-.617-1.027-1.439-1.438-2.466l-.822-2.259H4.314l-2.876 6.779H0L10.066.814h1.027l7.601 18.693c.41.617.616 1.233 1.027 1.644.205.41.411.822.821 1.232.206.206.617.411 1.028.617.41 0 .821.205 1.232.205v.822h-1.438zM9.45 5.744L4.93 15.81h8.833L9.45 5.744z')
      button.header__burger

