include ./slider

mixin main(className)
  main.main(class=className)
    h1.visually-hidden Affinage
    p.main__slogan очень хороший слоган
    p.main__test-text тестовое задание
    +slider("main__slider")
