include ./slider

mixin main(className)
  main.main(class=className)
    h1.visually-hidden Affinage
    img.main__logo(src="img/logo-desktop@1x.png" alt="Affinage" width="988" height="99")
    p.decor.decor--parentheses.main__decor-1 (1)
    p.decor.decor--parentheses.main__decor-3 (3)
    p.decor.decor--51.main__decor-51 51
    svg.decor.main__decor-shape(xmlns='http://www.w3.org/2000/svg' width='178.5' height='283.5')
      path(stroke='#000' fill='none' d='M.5.5h177l-38 282H.5V.5z')
    p.decor.decor--ural.main__decor-ural URAL 03
    p.main__slogan очень хороший слоган
    p.main__test-text тестовое задание
    svg.decor.main__decor-black-alfa-1(xmlns="http://www.w3.org/2000/svg" width="24" height="25")
      path(fill-rule="evenodd" fill="#131212" d="M23.179 23.205c-.411 0-.822-.205-1.232-.205-.411-.206-.822-.411-1.027-.617-.411-.411-.617-.822-.822-1.232-.411-.411-.616-1.027-1.027-1.644L11.47.814h-1.027L.377 24.027h22.802v-.822z")
    svg.decor.main__decor-transparent-alfa-1(xmlns="http://www.w3.org/2000/svg" width="26.5" height="26.5")
      path(stroke="#000" stroke-linecap="round" fill="none" d="M24.679 23.705c-.411 0-.821-.205-1.232-.205-.411-.206-.822-.411-1.028-.617-.41-.411-.616-.822-.821-1.232-.411-.411-.616-1.027-1.027-1.644L12.97 1.314h-1.027L1.877 24.527h22.802v-.822z")
    svg.decor.main__decor-transparent-alfa-2(xmlns='http://www.w3.org/2000/svg' width='24' height='25')
      path(fill-rule='evenodd' fill='#131212' d='M23.179 23.205c-.411 0-.821-.206-1.232-.206-.411-.205-.822-.41-1.027-.616-.411-.411-.617-.822-.822-1.232-.411-.411-.616-1.028-1.027-1.644L11.47.814h-1.027L.377 24.027h22.802v-.822z')
    svg.decor.main__decor-black-alfa-2(xmlns='http://www.w3.org/2000/svg' width='26.5' height='26.5')
      path(stroke='#000' stroke-linecap='round' fill='none' d='M24.679 23.705c-.411 0-.821-.206-1.232-.206-.411-.205-.822-.41-1.027-.616-.411-.411-.617-.822-.822-1.232-.411-.411-.616-1.028-1.027-1.644L12.97 1.314h-1.027L1.877 24.527h22.802v-.822z')
    svg.decor.main__decor-black-g(xmlns='http://www.w3.org/2000/svg' width='20.5' height='20.5')
      path(stroke='#000' opacity='.302' fill='none' d='M17 17.325a11.045 11.045 0 0 1-3.075 1.275c-1.083.267-2.267.4-3.55.4-1.3 0-2.5-.233-3.6-.7a8.788 8.788 0 0 1-2.85-1.913 8.733 8.733 0 0 1-1.875-2.85c-.45-1.091-.675-2.27-.675-3.537 0-1.2.196-2.317.587-3.35a8.03 8.03 0 0 1 1.675-2.7 7.731 7.731 0 0 1 2.6-1.8c1.009-.433 2.138-.65 3.388-.65 1.567 0 2.85.204 3.85.612 1 .409 1.733.88 2.2 1.413.167.217.292.467.375.75.083.283.146.579.187.887.042.309.067.621.075.938.009.317.013.9.013.9s1.208 2.85 2.275 2.85v.625c-.567 0-.975.208-1.225.625-.25.417-.375 1-.375 1.75v4.475z')
    p.decor.decor--text-accent.main__decor-a1 A
    p.decor.decor--text-accent.main__decor-f1 F
    p.decor.decor--text-accent.main__decor-f2 F
    p.decor.decor--text-accent.main__decor-i I
    p.decor.decor--text-accent.main__decor-n N
    p.decor.decor--text-accent.main__decor-a2 A
    p.decor.decor--text-accent.main__decor-g G
    p.decor.decor--text-accent.main__decor-e E
    +slider("main__slider")
