include ./slider

mixin main(className)
  main.main(class=className)
    h1.visually-hidden Affinage
    p.main__slogan очень хороший слоган
    p.main__test-text тестовое задание
    svg.decor.main__decor-black-alfa(xmlns="http://www.w3.org/2000/svg" width="24" height="25")
      path(fill-rule="evenodd" fill="#131212" d="M23.179 23.205c-.411 0-.822-.205-1.232-.205-.411-.206-.822-.411-1.027-.617-.411-.411-.617-.822-.822-1.232-.411-.411-.616-1.027-1.027-1.644L11.47.814h-1.027L.377 24.027h22.802v-.822z")
    svg.decor.main__decor-transparent-alfa(xmlns="http://www.w3.org/2000/svg" width="26.5" height="26.5")
      path(stroke="#000" stroke-linecap="round" fill="none" d="M24.679 23.705c-.411 0-.821-.205-1.232-.205-.411-.206-.822-.411-1.028-.617-.41-.411-.616-.822-.821-1.232-.411-.411-.616-1.027-1.027-1.644L12.97 1.314h-1.027L1.877 24.527h22.802v-.822z")
    +slider("main__slider")
