include ./pug/header
include ./pug/main
include ./pug/footer

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Тестовое задание
    link(rel="stylesheet" type="text/css" href="style.css")
    link(rel="stylesheet" type="text/css" href="animate.min.css")
  body.page
    +header("page__header")
    +main("page__main")
    +footer("page__footer")
  script(src="index.js")
