@font-face {
  font-family: "Philosopher";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Philosopher"),
  local("Philosopher-Italic"),
  url("./fonts/Philosopher-Italic.woff2") format("woff2"),
  url("./fonts/Philosopher-Italic.woff") format("woff");
}
